# Use Node.js version from .nvmrc
use_nvm() {
  local nvmrc_path=".nvmrc"
  if [ -f "$nvmrc_path" ]; then
    local node_version
    node_version=$(cat "$nvmrc_path")

    if [ -d "$HOME/.nvm" ]; then
      # Load nvm
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && source "$NVM_DIR/nvm.sh"

      # Use the version from .nvmrc
      nvm use "$node_version" || nvm install "$node_version"
    fi
  fi
}

use_nvm
